<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!--    &lt;!&ndash;控制mybatis全局行为&ndash;&gt;-->
<!--    <settings>-->
<!--        &lt;!&ndash;日志配置&ndash;&gt;-->
<!--        <setting name="logImpl" value="STDOUT_LOGGING"/>-->
<!--        &lt;!&ndash;驼峰命名规则&ndash;&gt;-->
<!--        <setting name="mapUnderscoreToCamelCase" value="true"/>-->
<!--    </settings>-->

    <!--转入yml中配置-->
</configuration>